<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="SqlAppender" type="SuperSimpleBlobStore.Common.Logging.SqlAppender">
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="SqlAppender" />
    </root>
  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="EnvironmentType" value="Debug" />
    <add key="ApplicationName" value="SuperSimpleBlobStorage" />
    <add key="ServicePort" value="8089" />
  </appSettings>
  
  <connectionStrings>
    <add name="BlobStore" connectionString="Data Source=.\SQLExpress;Database=BlobStorage;User Id=xxx;Password=xxx;" />
  </connectionStrings>
</configuration>